@success: #28A745;
@warning: #FFC107;
@error: #DC3545;
@shadow-color: #08080850;
@overlayable-background: #FFFFFF10;
@dark-color: #0F0F0F0F;
@dark-border: #0F0F0F0F;
@light-color: #FAFAFA;
@light-border: #FAFAFA;

@font-primary: #FFE81F;

@bottom-color: #FFBB35;

.success {
  border: 3px solid @success;
  background-color: @overlayable-background;
}
.warning {
  border: 3px solid @warning;
  background-color: @overlayable-background;
}
.error {
  border: 3px solid @error;
  background-color: @overlayable-background;
}

.primary-text {
  color: @font-primary;
}

.success-text {
  color: @success;
}
.warning-text {
  color: @warning;
}
.error-text {
  color: @error;
}

i.yellow.icon {
  .warning-text;
}

.ui.yellow.button {
  background-color: @warning;
}

.ui.red.button {
  background-color: @error;
}

.ui.green.button {
  background-color: @success;
}