/* Fonts */

.star-text {
  color: #FFE81F;
  font-family: StarJedi;
}

@font-face {
  font-family: StarJedi;
  src: url('/src/assets/fonts/starjedi/Starjedi.ttf');
}

/* Config */

i.icon {
  display: inline;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

/* Layout */

.fill-height {
  height: 100%;
}

.overlay {
  z-index: 99;
  position: absolute;
}

.hoverable:hover {
  background: #ffffff25;
}

.card {
  background-color: #050505;
  border-radius: 10px;
  padding: 10px;
  border: 1px #fafafa solid;
}

.dropdown {
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
}

/* Margin helper classes */

.mt-4 {
  margin-top: 16px !important;
}

.my-2 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

.mb-4 {
  margin-bottom: 16px !important;
}

/* Justify helper classes */

.justify-space-between {
  justify-content: space-between;
}
.justify-space-around {
  justify-content: space-around;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}

/* Align helper classes */

.align-center {
  align-items: center;
}

.align-stretch {
  align-items: stretch;
}

.align-bottom {
  align-items: flex-end;
}

/* Text helper classes */

.text-right {
  text-align: end;
}

.text-center {
  text-align: center;
}

/* Position helper classes */

.absolute {
  position: absolute;
  height: 100%;
  width: 100%;
}

/* Mouse helper classes */

.clickable {
  cursor: pointer;
}

/* Animations helper classes */

.slide-right-enter-active {
  position: absolute;
  width: 100%;
  overflow: hidden;
  animation: slideRight 1s;
}

.slide-right-leave-active {
  position: absolute;
  width: 100%;
  overflow: hidden;
  animation: slideLeft 1s;
}

.slide-left-enter-active {
  position: absolute;
  width: 100%;
  overflow: hidden;
  animation: slideLeft 1s reverse;
}

.slide-left-leave-active {
  position: absolute;
  width: 100%;
  overflow: hidden;
  animation: slideRight 1s reverse;
}

.slide-up-enter-active {
  animation: scaleY 1s, fade 1s, slideUp 1s;
  transform-origin: bottom;
}

.slide-up-leave-active {
  animation: fade 1s reverse, slideUp 1s reverse;
  transform-origin: bottom;
}

.drop-enter-active {
  /* animation: growDown 1s; */
  animation: rotateMenu 1s;
  transform-origin: top center
}

.drop-leave-active {
  /* animation: growDown 1s reverse; */
  animation: rotateMenu 1s reverse;
  transform-origin: top center
}

.scale-fade-enter-active {
  animation: fade 1s, scale 1s;
}

.scale-fade-leave-active {
  animation: fade 1s reverse, scale 1s reverse;
}

/* Animations Keyframes */

@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}

@keyframes slideLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100vw);
  }
}

@keyframes slideRight {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes growDown {
  0% {
    transform: scaleY(0)
  }
  80% {
    transform: scaleY(1.1)
  }
  100% {
    transform: scaleY(1)
  }
}

@keyframes rotateMenu {
  0% {
    transform: rotateX(-90deg)
  }
  70% {
    transform: rotateX(20deg)
  }
  100% {
    transform: rotateX(0deg)
  }
}

@keyframes scale {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes scaleY {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

