@import url('./colors.less');

/* Fonts */

.star-text {
  color: @font-primary;
  font-family: StarJedi;
}

@font-face {
  font-family: StarJedi;
  src: url('/src/assets/fonts/starjedi/Starjedi.ttf');
}

.alert-container {
  position: absolute;
  z-index: 99;
  top: 0;
  right: 0;
}

// card definition

.card {
  outline: 1px solid @dark-border;
  background-color: @light-color;
}

.dark-card {
  outline: 1px solid @light-border;
  background-color: @dark-color;
}

// modal

.modal-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Config */

i.icon {
  display: inline;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

/* Layout */

.fill-height {
  height: 100%;
}

.overlay {
  z-index: 99;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: @overlayable-background;
}

.overlay-fixed {
  position: fixed;
}

.hoverable:hover {
  background: @overlayable-background;
}

.dropdown {
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
}

/* Justify helper classes */

.justify-space-between {
  justify-content: space-between;
}
.justify-space-around {
  justify-content: space-around;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}

/* Align helper classes */

.align-center {
  align-items: center !important;
}

.align-stretch {
  align-items: stretch !important;
}

.align-bottom {
  align-items: flex-end !important;
}

/* Text helper classes */

.text-right {
  text-align: end !important;
}

.text-center {
  text-align: center !important;
}

/* Position helper classes */

.absolute {
  position: absolute;
  height: 100%;
  width: 100%;
}

/* Mouse helper classes */

.clickable {
  cursor: pointer;
}